extends layout

block content
  .container
    div.list-head
        a(href='/tarefas/nova') Novo
    section.todo
      ul.todo-list
        each val in tarefas
          +listItem(val.texto, val.resolvida)